

  <p class="titre02">Détail des autres couts de la session {{ this.dataService.completerTitre()}}</p>

  <table class="table01">
      <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
      </colgroup>
        <tr>
          <td class="bg-dgn">Nb certifs :</td>
          <td class="bg-mod-blue">16</td>
          <td class="bg-dgn">Couts HT certif :</td>
          <td class="bg-mod-blue">3 200 €</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
      </tr>
        <tr>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
        <tr>
          <td class="bg-dgn">Salle équipée</td>
          <td class="bg-mod-red">6 960,00 €</td>
          <td class="bg-dgn">Salle1</td>
          <td class="bg-mod-blue">6 360 €</td>
          <td class="bg-dgn">Salle2</td>
          <td class="bg-mod-blue">600 €</td>
          <td class="bg-dgn">Salle3</td>
          <td class="bg-mod-blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
          </td>
      </tr>
        <tr>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
        <tr>
          <td class="bg-dgn">Autres frais</td>
          <td class="bg-mod-green">500,00 €</td>
          <td class="bg-dgn">Commentaire</td>
          <td colspan="3" class="bg-mod-green">à préciser</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
      </tr>
        <tr>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
        <tr>
          <td class="bg-dgn">Total HT Autres couts</td>
          <td class="bg-mod-red">10 660,00 €</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
      </tr>
    </table>


