

  <p class="titre02">Certifications</p>

  <table class="table01">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr class="bg-dgn">
        <td>Libellé certif éditeurs</td>
        <td>Cout ht / stagiaire</td>
        <td>Date deb validité</td>
        <td>Date fin validité</td>
      </tr>
      <tr class="divider">
        <td>JAVA8</td>
        <td>300,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr>
        <td>MS C#</td>
        <td>210,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr class="divider">
        <td>SAP BO</td>
        <td>500,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr>
        <td>Hadoop</td>
        <td>500,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr class="divider">
        <td>Scrum Dev</td>
        <td>200,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr>
        <td>Product Owner</td>
        <td>200,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr class="divider">
        <td>ISTQB</td>
        <td>200,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr>
        <td>OqQuast</td>
        <td>112,00€</td>
        <td>01/01/2019</td>
        <td><br/>
        </td>
      </tr>
      <tr>
        <td><br/>
        </td>
        <td><br/>
        </td>
        <td><br/>
        </td>
        <td><br/>
        </td>
      </tr>
      <tr class="bg-dgn">
        <td>Libéllé certif RNCP</td>
        <td>Cout ht par session</td>
        <td>Cout ht par stagiaire</td>
        <td class="emptywhite"><br />
        </td>
      </tr>
      <tr class="divider">
        <td>TP2</td>
        <td><br/>
        </td>
        <td><br/>
        </td>
        <td class="emptywhite"><br />
        </td>
      </tr>
      <tr>
        <td>TP3</td>
        <td><br/>
        </td>
        <td><br/>
        </td>
        <td><br/>
        </td>
      </tr>
      <tr class="divider">
        <td>TP1</td>
        <td><br/>
        </td>
        <td><br/>
        </td>
        <td class="emptywhite"><br />
        </td>
      </tr>
    </table>


