<!-- ngView: -->
<section ng-view="" class="ng-scope">
    <!-- Page Content -->
    <div class="container-fluid ng-scope">

        <header class="jumbotron my-4">
            <div class="row">
                <div class="col">
                    <h2>Mes passages de certifications.</h2>
                </div>
            </div>
            <!-- ngIf: sessions.length>1 -->
            <!-- ngIf: sessions.length>1 -->
            <!-- ********************************* -->
            <!-- Affichage des différents onglets  -->
            <!-- ********************************* -->
            <div class="onglet">
                <a ng-click="changeSelected('RESULT')" ng-class="{'selected':selectedTab=='RESULT'}"
                    class="selected">Résultats</a>
                <a ng-click="changeSelected('TRAIN')" ng-class="{'selected':selectedTab=='TRAIN'}"
                    class="">Entrainement</a>


                <!-- ngIf: certification.formation.nomCertification -->
                <main ng-show="selectedTab=='RESULT'" ng-if="certification.formation.nomCertification" class="ng-scope">
                    <div class="row">
                        <div class="col-12">
                            <h5>Pour obtenir la certification <strong class="ng-binding">JAVA SE 8 Programmer</strong>,
                                vous devez obtenir un score supérieur ou égal à <span
                                    class="text-success ng-binding">65</span>.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">&nbsp;
                        </div>
                    </div>

                    <!-- ngIf: sessions.length>1 -->
                    <div class="row">
                        <div class="col-12">&nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <table class="table table-bordered table-striped order-list">
                                <tbody>
                                    <tr>
                                        <td class="digiblue" width="40%">Identité</td>
                                        <td class="ng-binding">Jean-Philippe ROUX</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Identifiant candidat</td>
                                        <td><input type="text"
                                                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                                ng-model="certification.identifiantCandidat" value="OC1940768"></td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Date de passage</td>
                                        <td class="ng-binding">02/03/2020</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Lieu de passage</td>
                                        <td class="ng-binding">Le Terra Verde – 55 Rue Euclide - 34000 MONTPELLIER</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Heure d'arrivée (15 minutes avant)</td>
                                        <td class="ng-binding">14:15</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Heure de passage</td>
                                        <td class="ng-binding">14H30</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Langue de passage</td>
                                        <td class="ng-binding">ANGLAIS</td>
                                    </tr>
                                    <!-- ngIf: certification.formation.nbCertifsBlanches>=1 -->
                                    <tr ng-if="certification.formation.nbCertifsBlanches&gt;=1" class="ng-scope">
                                        <td class="digiblue" width="40%">Score certification à blanc n°1</td>
                                        <td class="ng-binding"></td>
                                    </tr><!-- end ngIf: certification.formation.nbCertifsBlanches>=1 -->
                                    <!-- ngIf: certification.formation.nbCertifsBlanches>=2 -->
                                    <tr ng-if="certification.formation.nbCertifsBlanches&gt;=2" class="ng-scope">
                                        <td class="digiblue" width="40%">Score certification à blanc n°2</td>
                                        <td class="ng-binding"></td>
                                    </tr><!-- end ngIf: certification.formation.nbCertifsBlanches>=2 -->
                                    <!-- ngIf: certification.formation.nbCertifsBlanches>=3 -->
                                    <!-- ngIf: certification.formation.nbCertifsBlanches>=4 -->
                                    <!-- ngIf: certification.formation.nbCertifsBlanches>=5 -->
                                    <tr>
                                        <td class="digiblue ng-binding" width="40%">Score certification JAVA SE 8
                                            Programmer</td>
                                        <td ng-class="{'text-success':certification.scoreReel&gt;=certification.formation.scoreObtentionCertif, 'text-danger':certification.scoreReel&lt;certification.formation.scoreObtentionCertif}"
                                            class="ng-binding text-danger">30</td>
                                    </tr>
                                    <tr>
                                        <td class="digiblue" width="40%">Certification obtenue</td>
                                        <!-- ngIf: certification.scoreReel!='' && certification.scoreReel>=certification.formation.scoreObtentionCertif -->
                                        <!-- ngIf: certification.scoreReel!='' && certification.scoreReel<certification.formation.scoreObtentionCertif -->
                                        <td class="text-danger ng-scope"
                                            ng-if="certification.scoreReel!='' &amp;&amp; certification.scoreReel&lt;certification.formation.scoreObtentionCertif">
                                            NON</td>
                                        <!-- end ngIf: certification.scoreReel!='' && certification.scoreReel<certification.formation.scoreObtentionCertif -->
                                        <!-- ngIf: certification.scoreReel=='' -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="add_row" class="btn digiblue"
                                ng-click="sauvegarderCertification()">Sauvegarder</button>
                        </div>
                    </div>

                </main><!-- end ngIf: certification.formation.nomCertification -->
                <!-- ngIf: !certification.formation.nomCertification -->

                <!-- ngIf: certification.formation.nomCertification -->
                <main ng-show="selectedTab=='TRAIN'" ng-if="certification.formation.nomCertification"
                    class="ng-scope ng-hide">
                    <!-- ngIf: sessions.length>1 -->
                    <div class="row">
                        <div class="col-12">&nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <span ng-bind-html="certification.formation.infosCertif" class="ng-binding">
                                <h5>Lien pour l'inscription :&nbsp;&nbsp;<a class="nopadding text-info"
                                        href="http://www.pearsonvue.com/oracle/capva/">Site PEARSONVUE</a></h5>
                                <h5>Une fois inscrit(e), veuillez renseigner votre identifiant candidat et cliquez sur
                                    sauvegarder.</h5>
                                <br>
                                <strong>Accès aux tests Evalbox de préparation à la certif JAVA 8:</strong>
                                Des QCM de 77 questions, en autoévaluation, pour vous permettre de mieux
                                vous préparer aux types de questions posées à l'examen final. <br>
                                - Les bonnes réponses s'affichent une fois que vous avez fait votre choix.<br>
                                - Vous pouvez les repasser 10 fois chacun. La durée max d'un QCM est de 141mn.<br>
                                - A chaque fois que vous validez une réponse, la correction est apportée en ligne.<br>
                                - En fin de QCM, une note sur 20 est affichée, mais à l'examen final, le
                                score attendu est de 65 % de bonnes réponses : votre note doit donc
                                être &gt; 13/20<br>
                                <br>
                                <table class="table table-bordered table-striped order-list">
                                    <thead>
                                        <tr>
                                            <th class="bg-dgn">Test</th>
                                            <th class="bg-dgn">URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/VXSYMDC7LUEJ">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/3CMQSL7QRPQC">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/G6MHLZEW4P2X">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/CJD94BYSBQPQ">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/53BR8V5XPPL7">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/ZSDKTK7MSJFV">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/K8W2MAW6MLED">URL</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td><a class="text-info"
                                                    href="http://evalbox.com/register/exam/code/N5EK4V78HB77">URL</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </div>
                    </div>
                </main><!-- end ngIf: certification.formation.nomCertification -->
                <!-- ngIf: !certification.formation.nomCertification -->
                <p>
                </p><!-- ngIf: alertMessage!='' -->
                <!-- ngIf: successMessage!='' -->
            </div>
        </header>

    </div>

</section>