

  <p class="titre02">Session de formation</p>

  <table class="table01">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr class="bg-dgn">
      <td>Id session</td>
      <td>Libellé formation</td>
      <td>Date deb</td>
      <td>Date fin</td>
      <td>Certif</td>
      <td>Salle formation</td>
      <td>Etablissement</td>
      <td>Nb jrs session</td>
      <td>Nb heures session</td>
      <td>Nb stagiaires</td>
    </tr>
    <tr class="divider">
      <td>2019-D02</td>
      <td>.NET</td>
      <td>22/1/19</td>
      <td>9/5/19</td>
      <td>MS C#</td>
      <td>Multiburo Lyon</td>
      <td>Lyon</td>
      <td>57</td>
      <td>399</td>
      <td>16</td>
    </tr>
    <tr>
      <td>2019-D02</td>
      <td>.NET</td>
      <td>22/1/19</td>
      <td>9/5/19</td>
      <td>MS C#</td>
      <td>Multiburo Lyon</td>
      <td>Lyon</td>
      <td>57</td>
      <td>399</td>
      <td>16</td>
    </tr>
       <tr class="divider">
      <td>2019-D02</td>
      <td>.NET</td>
      <td>22/1/19</td>
      <td>9/5/19</td>
      <td>MS C#</td>
      <td>Multiburo Lyon</td>
      <td>Lyon</td>
      <td>57</td>
      <td>399</td>
      <td>16</td>
    </tr>
  </table>


