

  <p class="titre02">Détail des revenus de la session</p>

  <table class="table01">
      <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
      </colgroup>
          <tr class="bg-dgn">
            <td>Nom Prénom stagiaires</td>
            <td>Entreprise</td>
            <td>Date début (1)</td>
            <td>Date fin (1)</td>
            <td>Dispositif formation mobilisé (2)</td>
            <td>Nb heures stagiaires</td>
            <td>Financement ht Pole emploi</td>
            <td>Financement HT OPCA</td>
            <td>Financement HT perso</td>
            <td>Autre financement HT</td>
            <td>Financement HT Entreprise</td>
            <td>Total CA formation HT / stagiaire</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire1</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green">- €</td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire2</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire3</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">05/03/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire4</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire5</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire6</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire7</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">30/01/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire8</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire9</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire10</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire11</td>
            <td class="bg-mod-grey">DTA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">2 661 €</td>
            <td class="bg-mod-blue">3 192 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 410 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire12</td>
            <td class="bg-mod-grey">CAP GEMINI</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">AUTRE</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green">4 000 €</td>
            <td class="bg-mod-red">4 000 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire13</td>
            <td class="bg-mod-grey">ATOS</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">OPCA-Contrat pro</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-blue">1 700 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">1 700 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire14</td>
            <td class="bg-mod-grey">(aucune)</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">Financement perso</td>
            <td class="bg-mod-blue">140</td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-green">2 000 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">2 000 €</td>
          </tr>
          <tr>
            <td class="bg-mod-grey">Stagiaire15</td>
            <td class="bg-mod-grey">CBP</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">Fongecif</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue"><br/>
            </td>
            <td class="bg-mod-blue">5 985 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">5 985 €</td>
          </tr>
      <tr>
            <td class="bg-mod-grey">Stagiaire16</td>
            <td class="bg-mod-grey">SOPRA</td>
            <td class="bg-mod-blue">22/01/19</td>
            <td class="bg-mod-blue">09/04/19</td>
            <td class="bg-mod-green">POEI</td>
            <td class="bg-mod-blue">399</td>
            <td class="bg-mod-blue">1 000 €</td>
            <td class="bg-mod-blue">2 000 €</td>
            <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-green"><br/>
            </td>
        <td class="bg-mod-green"><br/>
            </td>
            <td class="bg-mod-red">2 833 €</td>
          </tr>
          <tr class="bg-mod-red">
            <td>16</td>
            <td>stagiaires</td>
            <td><br/>
            </td>
            <td><br/>
            </td>
            <td><br/>
            </td>
            <td><br/>
            </td>
            <td>30 275 €</td>
            <td>44 797 €</td>
            <td>2 000 €</td>
            <td>- €</td>
            <td>4 000 €</td>
            <td>76 026 €</td>
          </tr>
    </table>


