

  <p class="titre02">Détail des coûts formateurs</p>

  <table class="table01">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      </colgroup>
    <tr class="bg-dgn">
      <td>Liste formateurs de la session</td>
      <td>Nb jrs ouvrés / formateurs</td>
      <td>Tarif journalier HT</td>
      <td>Frais de dep HT formateurs</td>
      <td>Total Coûts HT formateurs</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Gaetan G.</td>
      <td class="bg-mod-grey">34</td>
      <td class="bg-mod-grey">500 €</td>
      <td class="bg-mod-green">1 300 €</td>
      <td class="bg-mod-red">18 300 €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Pierre André</td>
      <td class="bg-mod-grey">5</td>
      <td class="bg-mod-grey">350 €</td>
      <td class="bg-mod-green">1 000 €</td>
      <td class="bg-mod-red">2 750 €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Benoit D</td>
      <td class="bg-mod-grey">4</td>
      <td class="bg-mod-grey">400 €</td>
      <td class="bg-mod-green">- €</td>
      <td class="bg-mod-red">1 600 €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Antoine dujenou</td>
      <td class="bg-mod-grey">10</td>
      <td class="bg-mod-grey">550 €</td>
      <td class="bg-mod-green">300 €</td>
      <td class="bg-mod-red">5 800 €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Lionel Cabon</td>
      <td class="bg-mod-grey">2</td>
      <td class="bg-mod-grey">500 €</td>
      <td class="bg-mod-green"><br/>
      </td>
      <td class="bg-mod-red">1 000 €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">Autoformation</td>
      <td class="bg-mod-grey">2</td>
      <td class="bg-mod-grey">- €</td>
      <td class="bg-mod-green"><br/>
      </td>
      <td class="bg-mod-red">- €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey">elearning</td>
      <td class="bg-mod-grey"><br/>
      </td>
      <td class="bg-mod-grey">- €</td>
      <td class="bg-mod-green"><br/>
      </td>
      <td class="bg-mod-red">- €</td>
    </tr>
    <tr>
      <td class="bg-mod-grey"><br/>
      </td>
      <td class="bg-mod-grey"><br/>
      </td>
      <td class="bg-mod-grey">- €</td>
      <td class="bg-mod-green"><br/>
      </td>
      <td class="bg-mod-red">- €</td>
    </tr>
    <tr class="bg-mod-red">
      <td><br/>
      </td>
      <td>57</td>
      <td>517 €</td>
      <td>2 600 €</td>
      <td>29 450 €</td>
    </tr>
  </table>



