<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <div class="container text-left">

    <table>
      <tbody>
        <tr>
          <td> <mdb-navbar-brand><img width="150" height="69" src="assets/images/diginamic300.png"></mdb-navbar-brand> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>


            <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="/collaborateur/reservations" [routerLinkActive]="['highlightmenu']">Vos réservations</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/collaborateur/annonces" [routerLinkActive]="['highlightmenu']">Vos annonces</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/collaborateur/statistiques" [routerLinkActive]="['highlightmenu']">Statistiques</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>


          </td>
        </tr>
      </tbody>
    </table>


</div>
</mdb-navbar>
