<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <div class="container text-left">

    <table>
      <tbody>
        <tr>
          <td> <mdb-navbar-brand><img width="150" height="69" src="assets/images/diginamic300.png"></mdb-navbar-brand> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>


            <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" href="./app/sessionformation1/sessionformation1.component.html" [routerLinkActive]="['highlightmenu']">Session formation</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="./certifications2.component.html" [routerLinkActive]="['highlightmenu']">Certifications</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="./finansessionformation3.component.html" [routerLinkActive]="['highlightmenu']">Financement3? </a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/finansessionformation4/reservations" [routerLinkActive]="['highlightmenu']">Financement4? </a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/listesessions5/annonces" [routerLinkActive]="['highlightmenu']">Liste sessions</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/synthesesessions6/statistiques" [routerLinkActive]="['highlightmenu']">Synthese sessions</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailrevenusession7/reservations" [routerLinkActive]="['highlightmenu']">Detail revenu</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailcoutsformateur8/annonces" [routerLinkActive]="['highlightmenu']">Couts formateur</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailautrecoutssession9/statistiques" [routerLinkActive]="['highlightmenu']">Autre couts</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>


          </td>
        </tr>
      </tbody>
    </table>


</div>
</mdb-navbar>
