<!--App maine menu-->

<!--Toolbar-->
<div class="toolbar" role="banner">
  <h1 class="h1 h1-responsive" style="text-align: center;">SID Finance</h1>
</div>
sdfsf
f
sd
fsd
fs
sf


<!--Container-->
<div class="container" role="main">
    <div class="jumbotron">

        <div *ngIf="!(collegueConnecte | async).estAnonyme()">
          <span>{{(collegueConnecte | async).email}}</span>
          <span>({{(collegueConnecte | async).roles}})</span>
          <a  class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a>
        </div>
      </div>
     <router-outlet></router-outlet>
</div>

