<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <div class="container text-left">

    <table>
      <tbody>
        <tr>
          <td> <mdb-navbar-brand><img width="150" height="69" src="assets/images/diginamic300.png"></mdb-navbar-brand> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>


            <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="/sessionformation1" [routerLinkActive]="['highlightmenu']">Session formation</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/certifications2" [routerLinkActive]="['highlightmenu']">Certifications</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/finansessionformation3" [routerLinkActive]="['highlightmenu']">Financement3? </a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/finansessionformation4" [routerLinkActive]="['highlightmenu']">Financement4? </a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/listesessions5" [routerLinkActive]="['highlightmenu']">Liste sessions</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/synthesesessions6" [routerLinkActive]="['highlightmenu']">Synthese sessions</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailrevenusession7" [routerLinkActive]="['highlightmenu']">Detail revenu</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailcoutsformateur8" [routerLinkActive]="['highlightmenu']">Couts formateur</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li class="nav-item"><a class="nav-link" routerLink="/detailautrecoutssession9" [routerLinkActive]="['highlightmenu']">Autre couts</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>


          </td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>

</div>
</mdb-navbar>
