

  <p class="titre02">Financement session de formation</p>

  <table class="table01">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr class="bg-dgn">
      <td>1.Revenus avec cout horaire</td>
      <td>Tarif horaire ou groupe</td>
      <td>Pole Emploi</td>
      <td>Opco</td>
      <td>Fongecif</td>
      <td>Région</td>
      <td>Personnel</td>
      <td>CPF</td>
      <td>Autre</td>
      <td>Total horaire HT par stagiaire</td>
      <td>Date deb validité</td>
      <td>Date fin validité</td>
    </tr>
    <tr class="divider">
      <td>POEI Syntec</td>
      <td>Horaire</td>
      <td>6,67€</td>
      <td>8,00€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>17,70€</td>
      <td>01/01/2019</td>
      <td><br/>
      </td>
    </tr>
    <tr>
      <td>Competence+ (Région Occit.)</td>
      <td>Horaire</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>14,79€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>14,80€</td>
      <td>01/01/2019</td>
      <td><br/>
      </td>
    </tr>
    <tr class="divider">
      <td>Contrat Pro Syntec</td>
      <td>Horaire</td>
      <td><br/>
      </td>
      <td>11,00€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>11,00€</td>
      <td>01/01/2019</td>
      <td><br/>
      </td>
    </tr>
    <tr>
      <td>FAD Région Occitanie</td>
      <td>Groupe</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>177,90€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>177,90€</td>
      <td>01/01/2019</td>
      <td><br/>
      </td>
    </tr>
    <tr class="divider">
      <td>Fongecif</td>
      <td>Horaire</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>15,00€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
    </tr>
    <tr>
      <td>PICN</td>
      <td>Horaire</td>
      <td>8,00€</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td>8,00€</td>
      <td>01/01/2019</td>
      <td><br/>
      </td>
    </tr>
    <tr class="divider">
      <td>Autres ...</td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
      <td><br/>
      </td>
    </tr>
  </table>



