

  <p class="titre02">Financement session de formation</p>

	<table class="table01">
    <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <tr class="bg-dgn">
          <td>2. Dispositif avec cout forfaitaire</td>
          <td>Syntec</td>
          <td>Autre</td>
          <td>Total HT par stagiaire par formation</td>
          <td>Date deb validité</td>
          <td>Date fin validité</td>
        </tr>
        <tr class="divider">
          <td>Contrat Apprentissage FAFIEC : TP3</td>
          <td>4 500,00€</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
        <tr>
          <td>Contrat Apprentissage FAFIEC : TP2</td>
          <td>7 500,00€</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
        <tr class="divider">
          <td>&nbsp;</td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
          <td><br/>
          </td>
        </tr>
      </table>


